@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
  html {
    scroll-behavior: smooth;
  }
  /* Smooth theme transitions */
  *, *::before, *::after {
    transition-property: background-color, border-color, color;
    transition-duration: 150ms;
    transition-timing-function: ease;
  }
  /* But not on elements that should animate faster */
  button, a, input {
    transition-duration: 100ms;
  }
}
